
%h1 
  =t 'Active Visitors'
%br/
%table.table.table-striped.table-hover.table-borderless
  %thead.table-dark
    %tr
      %th{:scope => "col", :style => "width: %"}
        %strong 
          =t "Name"
      %th{:scope => "col", :style => "width: %"}
        %strong 
          =t "Card ID"
      %th{:scope => "col", :style => "width: %"}
      %th{:scope => "col", :style => "width: %"}
      %th{:scope => "col", :style => "width: %"}
      %th{:scope => "col", :style => "width: %"}
      %th{:scope => "col", :style => "width: %"}
      
  %tbody
    - @visitors.each do |visitor|
      %tr
        %td{:style => "width: 10%"}
          %p
            = visitor.name
          - if !(visitor.connector.last == nil || visitor.connector.last&.returned_at < Time.now)    
            %td{:style => "width: 10%"}
              %p
                = visitor.connector.last&.card_id
          - else
            %td{:style => "width: 10%"}
            
          %td.additional-style
            = link_to visitor_path(id: visitor.id), class:"btn btn-outline-dark" do
              %i.material-icons.additional-style remove_red_eye
              =t("Show")
        - if (visitor.connector.last == nil || visitor.connector.last&.returned_at < Time.now)
          %td.additional-style
            = button_to issue_card_api_v1_visitor_path(id: visitor.id), class:"btn btn-outline-success" do
              %i.material-icons.additional-style
              =t("Issue a card")
        
        - if !(visitor.connector.last == nil || visitor.connector.last&.returned_at < Time.now)
          %td.additional-style
            = button_to return_card_api_v1_visitor_path(id: visitor.id), class:"btn btn-outline-danger" do
              %i.material-icons.additional-style
              =t("Return card")
        %td.additional-style
        %td.additional-style
%br/
%br/
= link_to new_visitor_path, class:"btn btn-secondary new_visitor_button " do
  = t("New visitor")


